{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <main>
    <div class="grid">
        {{#each products}}
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title">{{this.title}}</h1>
            </header>
            <div class="card__image">
                <img src="/{{this.imageUrl}}" alt="A Book">
            </div>
            <div class="card__content">
                <h2 class="product__price">{{this.price}}</h2>
                <p class="product__description">{{this.description}}</div>
            <div class="card__actions">
                <a href = "/admin/edit-product/{{this.id}}?edit=true" class="btn">Edit</a>
                <form action="/admin/delete-product/{{this.id}}" method="get">
                    <button class="btn">Delete</button>
                </form>
            </div>
        </article>
        {{/each}}
    </div>
</main>
</body>
</html> --}}

{{!-- <ul class="people_list">
  {{#each people}}
    <li>{{this}}</li>
  {{/each}}
</ul> --}}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product-list.css">
    {{!-- <link rel="stylesheet" href="/css/product.css"> --}}
    <link rel="stylesheet" href="/css/main.css">
    {{!-- <link rel="stylesheet" href="/css/forms.css"> --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <title>{{pageTitle}}</title>
</head>
<body>
    
    {{>header}}
    <main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            

            {{#each products}}
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="https://www.freepnglogos.com/uploads/notebook-png/notebook-laptop-png-images-you-can-download-mashtrelo-14.png" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">{{this.title}}</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start price-hp">{{this.price}}</span> <span class="float-end"><a class="text-muted small" href="#">Reviews</a></span> </div>
                        <h5 class="card-title">{{this.description}}</h5>
                        <div class="row">
                            {{!-- <div class="text-center my-4"> 
                                <a href="/products/{{this.id}}" class="btn btn-warning float-start" style="padding: 0;margin:auto"><span class="btn">View Details</span></a>
                                {{#if this.isLoggedIn}}
                                <form action="/cart" method="POST" class="btn btn-warning float-end" style="padding: 0;margin:auto">
                                    <input type="hidden" name="productId" value="{{this.id}}">
                                    <button class="btn"><small>Add to Cart</small></button>
                                </form>
                                {{/if}}
                            </div> --}}
                            <div class="card__actions">
                            <a href = "/admin/edit-product/{{this.id}}?edit=true" class="btn" style="margin-left: 0.5rem;">Edit</a>
                                <form action="/admin/delete-product/{{this.id}}" method="get">
                                <button class="btn">Delete</button>
                                </form>
                            </div>
                        </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
                {{!-- <div class="card__actions">
                <a href = "/admin/edit-product/{{this.id}}?edit=true" class="btn">Edit</a>
                <form action="/admin/delete-product/{{this.id}}" method="get">
                    <button class="btn">Delete</button>
                </form>
                </div> --}}
            </div>
            {{/each}}

            {{!-- <div class="col">
                <div class="card h-100 shadow-sm"> <img src="https://www.freepnglogos.com/uploads/notebook-png/notebook-laptop-png-images-you-can-download-mashtrelo-14.png" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">DELL</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start price-hp">12354.00€</span> <span class="float-end"><a class="text-muted small" href="#">Reviews</a></span> </div>
                        <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>  --}}

        </div>
    </div>
</main>
</body>
</html>