<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cart.css">
    <title>{{pageTitle}}</title>
    <script>
        window.onload = function check(){
            let div = document.getElementById('error')
            console.log(div)
            if(div.innerHTML.length > 0){
                setTimeout(redirectTOProducts(),3000)
            }
        }
        function redirectTOProducts (){
            window.alert('Redirecting to Products');
            window.location.href = '/products'
        }
    </script>
</head>
<body>
    {{>header}}
<main>
    {{#if errorMessage}}
    <div class="user-message user-message--error" id = "error">{{errorMessage}}</div>
    {{/if}}
    {{#if empty}}
    <h1> Cart is Empty </h1>
    {{else}}
        <ul class="cart__item-list">
            {{#each cartData}}
                <li class="cart__item">
                    <h1>{{this.product.title}}</h1>
                    <h2>{{this.quantity}}</h2>
                    <h2>{{this.product.price}}$</h2>
                    <form action="/cart-delete-item" method="POST">
                        <input type="hidden" name="productId" value="{{this.product.id}}">
                        <input type="hidden" name="price" value="{{this.product.price}}">
                        <button class="btn danger" type="submit" >Delete</button>
                    </form>
                </li> 
            {{/each}}
        </ul>
        {{/if}}
        <hr>
        <div class="centered">
            <form action="/create-order" method="POST">
                <button type="submit" class="btn">Order Now!</button>
            </form>
        </div>
    </main>
</body>
</html>