<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{>header}}
    <main class="centered">
        <h1>{{product.title}}</h1>
        <div>
            <img src="" alt="{{product.title}}">
        </div>
        <h2>{{product.price}}</h2>
        <p>{{product.description}}</p>
        {{#if isLoggedIn}}
        <form action="/cart" method="POST">
        <input type="hidden" name="productId",id = "productId" value="{{product.id}}">
        <button class="btn">Add to Cart</button>
        </form>
        {{/if}}
    </main>
</body>
</html>